<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @offer %>

  <div>
    <%= link_to "Modifica", edit_offer_path(@offer), class: 'btn btn-warning w-100' %>

    <%= button_to "Elimina questa offerta", @offer, method: :delete, class: 'btn btn-danger w-100' %>

    <br>
    <%= link_to "Torna all'elenco delle offerte", offers_path %>
  </div>
</div>